@import 'libs/normalize';
@import 'style/fonts';
@import 'style/var';
@import 'style/style';


.btn{ 
    background-color: rgba(23, 26, 32, 0.8); 
    border: none; 
    border-radius: 6px; 
    color: #fff; 
    flex-grow: 1; 
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif; 
    font-size: 15px; 
    height: 36px; 
    line-height: 20px; 
    margin-left: 8px; 
    margin-right: 6px; 
    min-width: 185px; 
    padding: 0 16px 0 16px; 
    color:white; 
    cursor: pointer; 
    &:hover{ 
        background-color: rgba(23, 26, 32, 1); 
        cursor: pointer; 
    } 
    &:disabled {
        background: rgb(90 90 90);
        cursor: inherit;
    }
    &-car {
        min-width: 27px;
        height: 25px;
        padding: 10px 5px;
        margin-right: 4px;
        margin-left: 0;
    }
    &-control{
        width: 50px;
        min-width: 40px;
       height: 25px;
        padding: 0 5px;
        margin-right: 0;
    }
    &-remove{
        background-image: url('./img/remove-.png');
        background-repeat: no-repeat;
        background-size: contain;
    }  
    &-update {
         background-image: url('./img/update.png');
        background-repeat: no-repeat;
        background-size: contain;
    } 
 } 
 
ul {
    list-style: none;
}
.header {
    margin: 20px auto;
}
.wrapper{
    &-car-form{
        margin: 20px;
    }
    &-create{
        margin-bottom: 10px;
    }

}
input {
    outline: none;
    border-radius: 5px;
}
input[type='color'] {
     appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 25px;
  padding: 0;
  width: 40px;
}
.garage {
    &__item {
        margin: 15px 0;
    }
    span {
        text-transform: uppercase;
        font-size: 25px;
        margin-right: 20px;
    }
}

.car {
    &__btns{
     
    }
    &__name {
       font-size: 17px;
        margin-top: 2px;
    }
    &__control{
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: flex-start;
        .btns-control{
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin-right: 5px;
        }
    }
    &-wrap {
        width: 100%;
        margin-left: 30px;
    }
    &__wrapper {
        
        svg {
            width: 71px;
            height: 73px;
            transform: rotate(90deg);
        }
    }
}
.track {
    background: url(./img/track2.png);
    height: 1025px;
    background-size: 100% 97%;
    background-repeat: no-repeat;
    background-position-x: 93px;
    padding-top: 4px;

}
.race-control{
    margin-top: 20px;
}