@import 'libs/normalize';
@import 'style/fonts';
@import 'style/var';
@import 'style/style';


.btn{ 
    background-color: rgba(23, 26, 32, 0.8); 
    border: none; 
    border-radius: 6px; 
    color: #fff; 
    flex-grow: 1; 
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif; 
    font-size: 15px; 
    height: 36px; 
    line-height: 20px; 
    margin-left: 8px; 
    margin-right: 6px; 
    min-width: 185px; 
    padding: 0 16px 0 16px; 
    color:white; 
    cursor: pointer; 
    &:hover{ 
        background-color: rgba(23, 26, 32, 1); 
        cursor: pointer; 
    } 
    &:disabled {
        background: rgb(131, 129, 129);
    }
    &-car {
        min-width: 75px;  
        height: 25px;
        padding: 0 5px;
        margin-right: 0;
    }
 } 
 
ul {
    list-style: none;
}
.header {
    margin: 20px auto;
}
.wrapper{
    &-car-form{
        margin: 20px;
    }
    &-create{
        margin-bottom: 20px;
    }

}
input {
    outline: none;
}
input[type='color'] {
     appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 25px;
  padding: 0;
  width: 40px;
}
.garage {
    &__item {
        margin: 15px 0;
    }
}